@charset "UTF-8";

span{
	margin-right:10px;
	font-size:19px;
	font-weight: bold;
	color: #f2f2f2;
	display: inline-block;
}

article{
	clear:left;
}

footer{
	clear: left;
	text-align: center;
}


.topnav {
	text-align:center;
}

/* Style the links inside the navigation bar */
.topnav a {
	display:inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.7s;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.7s
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #5F9EA0;
    color: white;
}

.login_form{
	clear:left;
	margin:auto;
	width:250px;
}

div.error, div.excepcion {
	color: #5F9EA0;	
	border: 2px solid #5F9EA0;
	padding: 10px;
	margin: 10px;
}

.datos_proveedores{
	float: left;

}


.form_prov{
	margin-top:10px;
	margin-bottom:10px;
	float:left;
}


#botones_fila{
	margin-bottom: 20px;
	display: inline-block;
	float:right;
	margin-right:35%;
}

.data_and_buttons{
	margin-left:30%;
	margin-bottom:40px;
	height:      40px;  
  	line-height: 40px;
}

.welcome_border{
	border: 2px solid #5F9EA0;
	border-radius: 20px;
	margin-left: 30%;
	margin-right: 30%;
}

